<footer class="footer">
    <div class="container">
        <div class="footer-sections section">
            <div class="info-section">
                <h3>Välkomna till oss den 13:e April</h3>
                <p><strong>Address:</strong> Lokomotivet, Verkstadsgatan 8, 63342 Eskilstuna</p>
                <p><strong>Telephone:</strong>016-12 12 34</p>
                <p><strong>Email:</strong> info@etunamuscleshow.se</p>
            </div>
            <div class="info-section">
                <h3>Länkar</h3>
                <p><a routerLink="/">Hem</a></p>
                <p><a routerLink="/registration">Registrering</a></p>
                <p><a routerLink="/tickets">Biljetter</a></p>
                <p><a href="https://onsitetan.bokamera.se/book?selectedServiceId=106066" title="spraytan">SprayTan</a>
                </p>
            </div>
            <div class="info-section">
                <h3>Instagram</h3>
                <p><a href="https://www.instagram.com/etunamuscleshow?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                        title="Instagram">@etunamuscleshow</a></p>

            </div>
        </div>
    </div>
</footer>