<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive('/')" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive('/registration')" routerLink="/registration"
            routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Registrering</a>
        </li>
        <!-- Repeat for other links -->
        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive('/tickets')" routerLink="/tickets" routerLinkActive="active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Biljetter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://onsitetan.bokamera.se/book?selectedServiceId=106066"
            target="_blank">SprayTan</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>