<div class="imgbox">
  <div class="centered-text" #delayedText [@fadeInOut]>
  </div>
  <div class="video-background">
    <video src="assets/home.mp4" autoplay loop muted></video>
  </div>
</div>

<div class="container">
  <div class="info-section">
    <h2><b>Varmt välkommen till E-tuna Muscle Show</b></h2>
    <p>Har du ambitioner att delta i en fitness-tävling?
      Efter förra årets succé är vi glada att meddela att vi återigen kommer att arrangera E-tuna Muscle Show.
    </p>
    <p>Klicka <a routerLink="/registration">här</a> för att registrera dig.</p>
    <p>Vill du säkra din plats till showen? Köp din biljett <a routerLink="/tickets">här</a>.</p>
  </div>
</div>